/* Common styles for mobile and desktop */
.login-container {
  margin: 0 auto;
  padding: 20px; /* Adjust padding for mobile */
  background-color: #fff;
  text-align: center;
  margin-bottom: 23px;
}

.login-header {
  margin-bottom: 20px;
}

.login-header h2 {
  font-size: 21px;
  color: #0a0a0a;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
}

.login-form {
  background-image: url('../styles/images/signup-image/bg.jpg');
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px; /* Adjust padding for mobile */
}

.my-login-form {
  width: 100%; /* Full width on mobile */
  max-width: 400px; /* Limit width on larger screens */
  padding: 20px; /* Adjust padding */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.custom-checkbox {
  position: relative;
  padding-left: 30px; /* Adjust the padding to create space for the custom checkbox */
  cursor: pointer;
  font-size: 16px; /* Adjust the font size as needed */
  color: #333; /* Set the text color */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.form-group {
  margin-bottom: 15px;
}

.form-group-login {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.form-group-login {
  margin-bottom: 15px;
}

/* Style the input fields */
.form-group-login input[type="text"],
.form-group-login input[type="email"],
.form-group-login input[type="password"],
.form-group-login input[type="date"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #706f6f;
  background-color: transparent;
  font-size: 16px;
  color: #000000;
  transition: border-color 0.3s;
}

/* Add hover effect to input fields */
.form-group-login input[type="text"]:hover,
.form-group-login input[type="email"]:hover,
.form-group-login input[type="password"]:hover,
.form-group-login input[type="date"]:hover {
  border-color: #f8ac08;
}

/* Add focus effect to input fields */
.form-group-login input[type="text"]:focus,
.form-group-login input[type="email"]:focus,
.form-group-login input[type="password"]:focus,
.form-group-login input[type="date"]:focus {
  border-color: #f8ac08;
  outline: none;
}

.password-toggle-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  top: -2px;
  margin-left: -30px;
}

.password-toggle-icon {
  width: 20px;
  height: 10px;
  fill: #333;
}

.login-button {
  background-color: #f8ac08;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Full width on mobile */
  font-size: 18px;
  margin-top: 15px; /* Adjust margin for spacing on mobile */
}

.login-button:hover {
  background-color: #eec978;
}

.login-links a {
  text-decoration: none;
  color: #f8ac08;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.login-links a:hover {
  text-decoration: underline;
}

.social-divider {
  text-align: center;
  margin-top: 15px;
}

.social-divider span {
  display: inline-block;
}

.social-buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically on mobile */
  margin-top: 20px;
}

.social-button {
  background-color: #fff;
  color: #030303;
  border: 1.5px solid #f8ac08;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%; /* Full width on mobile */
  margin: 0 0 10px; /* Adjust margin for spacing on mobile */
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.social-button:hover {
  background-color: #f1af21;
  color: #fff;
}

.login-footer {
  text-align: center;
  margin-top: 20px;
}

.login-footer a {
  text-decoration: none;
  color: #f8ac08;
}

.login-footer a:hover {
  text-decoration: underline;
}

/* Media query for tablets and larger screens */
@media screen and (min-width: 768px) {
  /* .login-container styles remain the same */

  /* .login-form styles remain the same */

  .my-login-form {
    /* Add styles for tablets and larger screens */
    width: 400px; /* Adjust the width as needed */
    padding: 40px; /* Adjust the padding */
  }

  /* .form-group styles remain the same */

  /* Style the input fields */
  .form-group-login input[type="text"],
  .form-group-login input[type="email"],
  .form-group-login input[type="password"],
  .form-group-login input[type="date"] {
    padding: 15px; /* Adjust padding for tablets and larger screens */
  }

}
