/* styles/Login.css */
.login-container {
  margin: 0 auto;
  padding: 100px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the text within the container */
}

.login-header {
  margin-bottom: 20px;
}

.login-header h2 {
  font-size: 21px;
  color: #0a0a0a;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
  margin-top: 20px; /* Add some top margin for spacing */
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 2px; /* Adjust letter spacing */
  text-align: left;
}

.login-form {
  background-image: url('../styles/images/signup-image/bg.jpg');
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  padding: 169.5px;
  background-size: cover; /* Ensure the background image covers the container */
  background-repeat: no-repeat;
  background-position: center center;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 2px solid #f8ac08; /* Thicker border for better visibility */
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Style for when the input fields are focused */
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #f8ac08; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(3, 3, 3, 0.5); /* Add a subtle shadow on focus */
}

/* Style for placeholder text */
input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #999; /* Adjust placeholder text color */
}

.password-toggle-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  top: -2px;
  margin-left: -30px;
}

.password-toggle-icon {
  width: 20px;
  height: 10px;
  fill: #333;
}

.login-button {
  background-color: #f8ac08;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.login-button:hover {
  background-color: #eec978;
}

.login-links a {
  text-decoration: none;
  color: #f8ac08;
  display: block;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.login-links a:hover {
  text-decoration: underline;
}

.social-divider {
  text-align: center;
  margin-top: 15px;
}

.social-divider span {
  display: inline-block;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.social-button {
  background-color: #fff;
  color: #030303;
  border: 1.5px solid #f8ac08;
  border-radius: 5px;
  padding: 10px 20px;
  flex: 1;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.social-button:hover {
  background-color: #f1af21;
  color: #fff;
}

.login-footer {
  text-align: center;
  margin-top: 20px;
}

.login-footer a {
  text-decoration: none;
  color: #f8ac08;
}

.login-footer a:hover {
  text-decoration: underline;
}
