
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  transition: background-color 0.4s ease;
}

.search_box {
  display: flex;
  align-items: center;
}

.search_box input[type="search"] {
  background-color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.fa-search {
  color: #161d2c;
  font-size: 20px;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; /* Ensure the container spans the entire width */
  height: 50px; /* Adjust the desired height for the logo container */
}

.logo-container img {
  width: 55%; /* Make the logo take the full width of the container */
  height: auto; /* Make the logo take the full height of the container */
}


.menuitems {
  list-style: none;
  display: flex;
  margin-left: auto; /* This will move the menu items to the right */
}

.menuitems li {
  margin-left: 20px; /* Add some spacing between menu items */
}

.menuitems li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 20px;
}

.menuitems li a:hover {
  color: #f1a603;
}

.fa-bars {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

